{% extends "base.html" %}
{% block title %}项目信息{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class="admin-biaogelist">

        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 融云到小程序前端的日志查询模块(按时间查找)</ul>
        </div>

        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <form class="form-inline" id="form_config">
                <div class="input-group col-md-4 col-md-offset-1">
                    <span class="input-group-addon" style="color: #0a628f">时间</span>
                    <input type="text" class="form-control" id="input_time" placeholder="请输入时间值 如:2018-11-21 11:11:11">
                </div>
                <div class="input-group col-md-4">
                    <span class="input-group-addon" style="color: #0a628f">内容</span>
                    <input type="text" class="form-control" id="input_content" placeholder="请入搜索内容 如:Hello World">
                </div>
                <button type="button" class="btn btn-success" onclick=search_applet_log(document.getElementById('input_time').value,document.getElementById('input_content').value)>搜索
                </button>
            </form>
        </div>

         <form class="am-form am-g" id="project_list" name="project_list" method="post" action="/api/run_batch_test/">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
{#                    <th class="table-title">序号</th>#}
                    <th class="table-type">日志</th>
{#                    <th class="table-date am-hide-sm-only">日志</th>#}
                </tr>
                </thead>
                <tbody>

                {% for foo in project %}
                    <tr>
{#                        <td>{{ forloop.counter }}</td>#}
                        <td>{{ foo }}</td>
{#                        <td class="am-hide-sm-only">{{ foo.create_time }}</td>#}
                    </tr>
                {% endfor %}


                </tbody>
            </table>

{#            <div class="am-btn-group am-btn-group-xs">#}
{#                <button type="button" class="am-btn am-btn-default" onclick="location='/api/add_project/'"><span#}
{#                        class="am-icon-plus"></span> 新增#}
{#                </button>#}
{#            </div>#}

            <ul class="am-pagination am-fr">
                {{ page_list }}
            </ul>
            <hr/>
        </form>
    </div>

    <script type="text/javascript">
        function search_applet_log(time,content) {
            console.log("sasaddsadsds")
            data = {
                "time":time,
                "content":content
                };
            $.ajax({
                type: 'post',
                url: '/api/rongcloud_to_applet/1/',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    if (data != 'ok') {
                        myAlert(data);
                    }
                    else {
                       window.location.href = "/api/rongcloud_to_applet/1/?time="+time+"&content="+content;
                    }
                },
                error: function () {
                    myAlert('Sorry，服务器可能开小差啦, 请重试!');
                }
            });
        }
    </script>

{% endblock %}